* {
    font-family: 'Poor Story', cursive;
}

body {
    max-width: 768px;
    margin: 0 auto;
}

#header-container{
    top:0;
    position:fixed;
    max-width: 768px;
    width:100%;

    border-bottom: 0.2rem solid rgb(214, 214, 214);
    background-color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0.4rem 0;
}
#header-container #insta-logo {
    width: 25%;
}
#header-container .header-items {
    width: 6%;
    margin: 0 1rem;
}
#content-container{
    padding-top: 10.5%;
}
#content-story-wrapper {
    background-color: rgb(243, 243, 243);

    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding-left: 1vh;
    padding-right: 1vh;

    overflow: hidden;
}
#content-story-wrapper .story-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
#content-story-wrapper .story-items .story-photos {
    width: 14vw;
    height: 14vw;
    max-width: 6rem;
    max-height: 6rem;
    margin-bottom: 0.5rem;

    border-radius: 50%;
    border: 0.2rem solid transparent;

    background-image: linear-gradient(#444444, #444444), linear-gradient(to right, #512889, #9F585B, #ED872D);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

#content-story-wrapper .story-items .story-photos.read{
    width: 14vw;
    height: 14vw;
    max-width: 6rem;
    max-height: 6rem;
    margin-bottom: 0.5rem;

    border-radius: 50%;
    border: 0.2rem solid gray;
}

#content-post-wrapper {
    width:100%;
}
#content-post-wrapper .posts {
    border-top: 0.2rem solid rgb(214, 214, 214);
}
#content-post-wrapper .posts .post-id {
    display:inline-block;
    width: 100%;
}
#content-post-wrapper .posts .post-id .post-id-left {
    float: left;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 0.5rem 0 0.5rem 1.5rem;
}
.post-id-photo {
    width: 3rem;
    height: 3rem;
    margin-right: 0.7rem;

    border-radius: 50%;
}
#content-post-wrapper .posts .post-id .post-id-right {
    float: right;
    margin-right: 1.5rem;
    margin-top: 1.2rem;
}
#content-post-wrapper .posts .post-photo > img{
    width: 100%;
    height: 70vh;
}
#content-post-wrapper .posts .post-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#content-post-wrapper .posts .post-buttons .post-buttons-left {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 1rem;
}
#content-post-wrapper .posts .post-buttons .post-buttons-left > img {
    margin: 0.5rem;
    width: 14%;
}
#content-post-wrapper .posts .post-buttons .post-buttons-right {
    display:flex;
    justify-content: right;
    width: 100%;
    margin-right: 1rem;
}
#content-post-wrapper .posts .post-buttons .post-buttons-right > img {
    margin: 0.5rem;
    width: 12%;
}
.post-like-msg-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 1rem;
}
.post-comment {
    margin-top: 1rem;
    margin-left: 1.5rem;
}
.friends-comment {
    margin-left: 1.5rem;
}
.post-time {
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.post-time > p {
    color: rgb(214, 214, 214);
    font-weight: 900;
}
b {
    font-weight: 900;
}
#footer-container{
    max-width: 768px;
    width:100%;

    bottom: 0;
    position: fixed;
    background-color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-top: 0.2rem solid rgb(214, 214, 214);
    padding: 1rem 0;
}
#footer-container .footer-items {
    width: 5%;
    margin: 0 1rem;
}